# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/projects/cv/node_modules
/projects/cv/.pnp
/projects/cv/.pnp.js
/projects/cv/coverage
/projects/cv/build
/projects/cv/.DS_Store
/projects/cv/.env.local
/projects/cv/.env.development.local
/projects/cv/.env.test.local
/projects/cv/.env.production.local
/projects/cv/npm-debug.log*
/projects/cv/yarn-debug.log*
/projects/cv/yarn-error.log*





/projects/hardware/node_modules
/projects/hardware/.pnp
/projects/hardware/.pnp.js
/projects/hardware/coverage
/projects/hardware/build
/projects/hardware/.DS_Store
/projects/hardware/.env.local
/projects/hardware/.env.development.local
/projects/hardware/.env.test.local
/projects/hardware/.env.production.local
/projects/hardware/npm-debug.log*
/projects/hardware/yarn-debug.log*
/projects/hardware/yarn-error.log*


/projects/java/node_modules
/projects/java/.pnp
/projects/java/.pnp.js
/projects/java/coverage
/projects/java/build
/projects/java/.DS_Store
/projects/java/.env.local
/projects/java/.env.development.local
/projects/java/.env.test.local
/projects/java/.env.production.local
/projects/java/npm-debug.log*
/projects/java/yarn-debug.log*
/projects/java/yarn-error.log*



/projects/js/node_modules
/projects/js/.pnp
/projects/js/.pnp.js
/projects/js/coverage
/projects/js/build
/projects/js/.DS_Store
/projects/js/.env.local
/projects/js/.env.development.local
/projects/js/.env.test.local
/projects/js/.env.production.local
/projects/js/npm-debug.log*
/projects/js/yarn-debug.log*
/projects/js/yarn-error.log*



/projects/linux/node_modules
/projects/linux/.pnp
/projects/linux/.pnp.js
/projects/linux/coverage
/projects/linux/build
/projects/linux/.DS_Store
/projects/linux/.env.local
/projects/linux/.env.development.local
/projects/linux/.env.test.local
/projects/linux/.env.production.local
/projects/linux/npm-debug.log*
/projects/linux/yarn-debug.log*
/projects/linux/yarn-error.log*


/projects/mobile/node_modules
/projects/mobile/.pnp
/projects/mobile/.pnp.js
/projects/mobile/coverage
/projects/mobile/build
/projects/mobile/.DS_Store
/projects/mobile/.env.local
/projects/mobile/.env.development.local
/projects/mobile/.env.test.local
/projects/mobile/.env.production.local
/projects/mobile/npm-debug.log*
/projects/mobile/yarn-debug.log*
/projects/mobile/yarn-error.log*


/projects/python/node_modules
/projects/python/.pnp
/projects/python/.pnp.js
/projects/python/coverage
/projects/python/build
/projects/python/.DS_Store
/projects/python/.env.local
/projects/python/.env.development.local
/projects/python/.env.test.local
/projects/python/.env.production.local
/projects/python/npm-debug.log*
/projects/python/yarn-debug.log*
/projects/python/yarn-error.log*


/projects/research/node_modules
/projects/research/.pnp
/projects/research/.pnp.js
/projects/research/coverage
/projects/research/build
/projects/research/.DS_Store
/projects/research/.env.local
/projects/research/.env.development.local
/projects/research/.env.test.local
/projects/research/.env.production.local
/projects/research/npm-debug.log*
/projects/research/yarn-debug.log*
/projects/research/yarn-error.log*


/projects/servers/node_modules
/projects/servers/.pnp
/projects/servers/.pnp.js
/projects/servers/coverage
/projects/servers/build
/projects/servers/.DS_Store
/projects/servers/.env.local
/projects/servers/.env.development.local
/projects/servers/.env.test.local
/projects/servers/.env.production.local
/projects/servers/npm-debug.log*
/projects/servers/yarn-debug.log*
/projects/servers/yarn-error.log*


/projects/tutorials/node_modules
/projects/tutorials/.pnp
/projects/tutorials/.pnp.js
/projects/tutorials/coverage
/projects/tutorials/build
/projects/tutorials/.DS_Store
/projects/tutorials/.env.local
/projects/tutorials/.env.development.local
/projects/tutorials/.env.test.local
/projects/tutorials/.env.production.local
/projects/tutorials/npm-debug.log*
/projects/tutorials/yarn-debug.log*
/projects/tutorials/yarn-error.log*


/projects/uni/node_modules
/projects/uni/.pnp
/projects/uni/.pnp.js
/projects/uni/coverage
/projects/uni/build
/projects/uni/.DS_Store
/projects/uni/.env.local
/projects/uni/.env.development.local
/projects/uni/.env.test.local
/projects/uni/.env.production.local
/projects/uni/npm-debug.log*
/projects/uni/yarn-debug.log*
/projects/uni/yarn-error.log*



/projects/websites/node_modules
/projects/websites/.pnp
/projects/websites/.pnp.js
/projects/websites/coverage
/projects/websites/build
/projects/websites/.DS_Store
/projects/websites/.env.local
/projects/websites/.env.development.local
/projects/websites/.env.test.local
/projects/websites/.env.production.local
/projects/websites/npm-debug.log*
/projects/websites/yarn-debug.log*
/projects/websites/yarn-error.log*



/index/websites/node_modules
/index/websites/.pnp
/index/websites/.pnp.js
/index/websites/coverage
/index/websites/build
/index/websites/.DS_Store
/index/websites/.env.local
/index/websites/.env.development.local
/index/websites/.env.test.local
/index/websites/.env.production.local
/index/websites/npm-debug.log*
/index/websites/yarn-debug.log*
/index/websites/yarn-error.log*
/index/src/Components/contact.jsx
/index/src/Data




/redirect/websites/node_modules
/redirect/websites/.pnp
/redirect/websites/.pnp.js
/redirect/websites/coverage
/redirect/websites/build
/redirect/websites/.DS_Store
/redirect/websites/.env.local
/redirect/websites/.env.development.local
/redirect/websites/.env.test.local
/redirect/websites/.env.production.local
/redirect/websites/npm-debug.log*
/redirect/websites/yarn-debug.log*
/redirect/websites/yarn-error.log*














